# =============================
# Nuxt 3 / Nitro / Vite outputs
# =============================
.nuxt
.nitro
.output
.cache
dist
build
logs
*.log

# =================
# Node dependencies
# =================
node_modules

# ==========
# IDE files
# ==========
.DS_Store
.idea
.fleet
.vscode

# ==========
# Env files
# ==========
.env
.env.*
!.env.example
.secret-*

# ======================
# AWS Amplify & related
# ======================
amplify/#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/.temp
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
aws-exports.js
aws-exports.ts
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig

# ======================
# Git-specific or misc
# ======================
*.sample
